* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

header {
  padding-top: 2rem;
  background-color: white;
}
body {
  background-color: #F7FAFC;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}
.logo {
  display: flex;
  width: 9.4rem;
  height: 2.8rem;
  padding: 0.0625rem 1.48663rem 0.0625rem 0rem;
  align-items: center;
  gap: 0.38838rem;
  flex-shrink: 0;
}

.form-control {
  padding: 0.43rem 0.84rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #565656;
  background-color: #f9f9f9;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;

  width: 26.3rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.search_btn {
  color: #fff;
  background-color: #0d6efd;
  text-decoration: none;
  padding: 0.43rem 0.84rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  text-align: center;
  width: 6.25rem;
  height: 2.5rem;

  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 500;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 0.43rem 0.84rem 0.43rem 0.84rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #565656;
  background-color: #f9f9f9;
  border: 1px solid #dee2e6;
  cursor: pointer;
  text-align: left;

  width: 9rem;
  /* height: 2.5rem; */
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
}
#arrow-icon {
  transition: transform 0.3s ease;
}
.rotate {
  transform: rotate(180deg);
}

/* Стили для отображения выпадающего меню */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 9rem;
  margin-top: 0.3rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 500;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 1rem;
}

.dropdown-content .selected:hover {
  background-color: #0d6efd;
}
.selected {
  background-color: #0d6efd;
  color: #fff !important;
  border-radius: 1rem;
}

.show {
  display: block;
}



.triangle {
  position: relative;
  padding-right: 15px; /* Оставляем место для треугольника */
}

.triangle::after {
  content: "";
  position: absolute;
  top: 30%; /* Располагаем в вертикальном центре */
  right: 0; /* Располагаем справа от элемента */
  /* transform: translateY(-20%); Корректируем позицию по вертикали */
  border-left: 5px solid black; /* Создаем черный треугольник */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transform: rotate(90deg);
}

nav {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  margin-top: 1rem;

}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}
.navbar li {
  padding: 0.5rem 0.8rem;
 
}
.navbar li a {
  text-decoration: none;
  color: black;

}

.navbar-right li {
   padding-right: 0;
}
.navbar-right .dropbtnX {
  background-color: transparent;
  color: black;
  border: none;
  width: 4rem;
}