@import url("/Brand/universal.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Inter;
}

header {
  padding-top: 1.5rem;
  background-color: white;

  position: sticky;
  top: 0;
  width: 100%;
}
body {
  background-color: #f7fafc;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 85%;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}
.logo {
  display: flex;
  width: 9.4rem;
  height: 2.8rem;
  padding: 0.0625rem 1.48663rem 0.0625rem 0rem;
  align-items: center;
  gap: 0.38838rem;
  flex-shrink: 0;
}
.logo:hover {
  opacity: 0.8;
}

.form-control {
  padding: 0.43rem 0.84rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #565656;
  background-color: #f9f9f9;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;

  width: 26.3rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.form-control:hover {
  border-color: #6ea8fe;
}

/* Стили для отображения выпадающего меню search  */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  padding: 0.43rem 0.84rem 0.43rem 0.84rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #565656;
  background-color: #f9f9f9;
  border: 1px solid #dee2e6;
  cursor: pointer;
  text-align: left;

  width: 9rem;
  /* height: 2.5rem; */
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}
.dropbtn:hover {
  border-color: #6ea8fe;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 9rem;
  margin-top: 0.3rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  font-size: 1.1rem;
  font-weight: 500;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 1rem;
}

.dropdown-content .selected:hover {
  background-color: #0d6efd;
}
.selected {
  background-color: #0d6efd;
  color: #fff !important;
  border-radius: 1rem;
}

.show {
  display: block;
}
#arrow-icon {
  transition: transform 0.3s ease;
}
.rotate {
  transform: rotate(180deg);
}

.search_btn {
  color: #fff;
  background-color: #0d6efd;
  text-decoration: none;
  padding: 0.43rem 0.84rem;
  border: 1px solid #0d6efd;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  text-align: center;
  width: 6.25rem;
  height: 2.5rem;
  font-size: 1.1rem;
  font-weight: 500;

  /* transition: background-color 0.3s ease; */
}
.search_btn:hover {
  /* opacity: 0.8; */
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.icon {
  color: #6c757d;
  cursor: pointer;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.icons .icon:hover {
  filter: drop-shadow(0 0 10px #0b5ed7);
  /* filter: drop-shadow(10px 10px 10px #0b5ed7); */
}

header > nav {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  margin-top: 1rem;
  padding: 0.8rem 0;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  font-weight: 500;
}
.navbar li {
  padding: 0.5rem 0.8rem;
}
.navbar li a {
  text-decoration: none;
  color: black;
}
.navbar li:hover {
  filter: drop-shadow(0 0 10px #565656);
}

.navbar-right li {
  padding-right: 0;
}
.navbar-right-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;

  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.triangle {
  position: relative;
  padding-right: 1rem;
}

.triangle::after {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
  /* transform: translateY(-20%); Корректируем позицию по вертикали */
  border-left: 5px solid black; /* Создаем черный треугольник */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transform: rotate(90deg);
}

/* Стили для отображения выпадающего меню */
.drop,
.drop-box {
  position: relative;
  display: inline-block;
}

.drop-button,
.drop-box-button {
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
}

.drop-content,
.content-box {
  display: none;
  position: absolute;
  z-index: 1;
}
.translateX {
  transform: translateX(-70%);
}
.drop-content-style {
  background-color: #f9f9f9;
  min-width: 9rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.drop-content-style a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-content-style a:hover {
  background-color: #f1f1f1;
  border-radius: 1rem;
}
.show {
  display: block;
}

.drop-box .content-box-style {
  width: 35rem;
  display: flex;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.drop-box .content-box h6 {
  margin-top: 0.6rem;
}
.drop-box .content-box .content-list {
  display: flex;
  flex-direction: column;
}
.drop-box .content-box .content-list li {
  padding: 0.2rem 0.8rem 0.3rem 0;
}
.drop-box .content-box .content-list .text-body {
  color: #565656;
}
.drop-box .content-box .content-list .text-body:hover {
  text-decoration: underline;
  color: #565656;
}

/* Header end  */

/* Section Slider  */

.section-slider {
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(86, 86, 86, 0.12);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.section-slider nav {
  width: 25%;
}
.section-slider nav ul {
  width: 100%;
  color: #565656;
}
.section-slider nav li {
  width: 100%;
  padding: 0.6rem;
  border-radius: 1rem;
}
.section-slider nav li:hover {
  background-color: rgba(13, 110, 253, 0.1);
}

.slider {
  width: 55%;
  height: 90%;
}
.slider .slide {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2rem 4rem;
  background-size: cover;
  background-position: center;
}
.slider .slide1 {
  background-image: url(/public/images/slider-bg1.png);
}
.slider .slide2 {
  background-image: url(/public/images/slider-bg2.jpg);
}

.slider .slide-item {
  position: absolute;
  z-index: 1;
}
.slider .slide-item h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.slider .slide-item h2 span {
  font-weight: 700;
  font-size: 2rem;
}
.slider .slide-item a {
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  color: white;
  background-color: #ff8100;

  font-weight: 400;
  line-height: 1.4;
}
.slider .slide-item a:hover {
  background-color: #c96a26;
}

.slider-right {
  width: 20%;
  height: 100%;
  gap: 1rem;
}
.slider-right-item {
  width: 100%;
  height: 30%;
  border-radius: 0.5rem;
}
.slider-right .item1 {
  background-color: #e3f0ff;
}
.slider-right .item2 {
  background-color: #f38332;
}
.slider-right .item3 {
  background-color: #55bdc3;
}
